
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    
}

img {
    max-width: 100%;
}

header {
max-width: 100%;
height: 15vh;
}

#logo {
    width: auto;
    height: 12vh;
    padding: 0.5rem;
}

nav {
    height: 15vh;

}

.nav-link {
    padding: 1rem;
    margin: 1rem;
    font-size: x-large;
    
}

main {
height: 70vh;
background-color: blue;
}

.form-check {
    padding: 1rem;
    margin: 1rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.search {

    padding: 0.5rem;
    width: 30vw;
}

section {
min-width: 100%;
}



footer {
height: 8vh;
}

.nav-link>img {
    height: 3rem;
 
}

.navbar-text {
    font-size: larger;
    padding: 1rem;
    margin: 1rem;
}

